<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <target xsi:type="File" name="ErrorLog" fileName="C://NLOG.txt"
             layout="${newline}[${uppercase:${level}}]${longdate}${newline}[${uppercase:${level}}]${message}"
             archiveFileName="C://NLOG.txt"
             archiveAboveSize="5242880" maxArchiveFiles="100"/>
  <target xsi:type="File" name="SqlLog" fileName="C://Logs/MOST_WST/${shortdate}/Sql.txt"
           layout="[${uppercase:${level}}]${longdate}${newline}[${uppercase:${level}}]${message}"
           archiveFileName="C://Logs/TEST/${shortdate}/Sql_{###}.txt"
           archiveAboveSize="5242880" maxArchiveFiles="100"/>
  <target xsi:type="File" name="InfoLog" fileName="C://Logs/TEST/${shortdate}/LoginInfoLog.txt"
           layout="${newline}[${uppercase:${level}}]${longdate}${newline}[${uppercase:${level}}]${message}" />
  <target xsi:type="File" name="WarnLog" fileName="C://Logs/TEST/${shortdate}/AdminLoginLog.txt"
           layout="[${uppercase:${level}}]${longdate}${newline}[${uppercase:${level}}]${message}" />
  <target xsi:type="File" name="ExecLog" fileName="C://Logs/TEST/${shortdate}/ExecProgramLog.txt"
           layout="${newline}[${uppercase:${level}}]${longdate}${newline}[${uppercase:${level}}]${message}" />
  </targets>

  <rules>
    <!-- add your logging rules here -->

    <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    -->
    <logger name="*" level="Error" writeTo="ErrorLog" />
    <logger name="*" level="Warn" writeTo="WarnLog" />
    <logger name="*" level="Info" writeTo="InfoLog" />
    <logger name="*" level="Debug" writeTo="SqlLog" />
    <logger name="*" level="Trace" writeTo="ExecLog" />
  </rules>
</nlog>
